USE [master]
GO
/****** Object:  Database [MTB 67CS1]    Script Date: 3/31/2025 2:43:47 PM ******/
CREATE DATABASE [MTB 67CS1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MTB 67CS1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MTB 67CS1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MTB 67CS1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MTB 67CS1_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MTB 67CS1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MTB 67CS1]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](255) NOT NULL,
	[AccountPassword] [varchar](255) NOT NULL,
	[AccountType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ShowID] [int] NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingSeat]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingSeat](
	[BookingSeatID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ShowID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_BookingSeat] PRIMARY KEY CLUSTERED 
(
	[BookingSeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[CinemaID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](255) NOT NULL,
	[CityID] [int] NOT NULL,
	[CityAddress] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Cinema] PRIMARY KEY CLUSTERED 
(
	[CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHall]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHall](
	[HallID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaID] [int] NOT NULL,
	[HallName] [nvarchar](255) NOT NULL,
	[TotalSeats] [int] NOT NULL,
 CONSTRAINT [PK_CinemaHall] PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHallSeat]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHallSeat](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NOT NULL,
	[SeatNumber] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CinemaHallSeat] PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [nvarchar](255) NULL,
	[CustomerEmail] [varchar](255) NULL,
	[CustomerPhone] [varchar](20) NULL,
	[AccountID] [int] NULL,
	[CustomerGender] [nvarchar](50) NULL,
	[CustomerDate] [date] NULL,
	[CustomerAddress] [nvarchar](255) NULL,
	[AvatarUrl] [varchar](255) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieTitle] [nvarchar](255) NOT NULL,
	[MovieDescription] [nvarchar](max) NULL,
	[MovieLanguage] [nvarchar](50) NOT NULL,
	[MovieGenre] [nvarchar](100) NULL,
	[MovieReleaseDate] [date] NOT NULL,
	[MovieRuntime] [int] NOT NULL,
	[ImageUrl] [varchar](255) NULL,
	[MovieTrailer] [varchar](255) NULL,
	[MovieActor] [nvarchar](255) NULL,
	[MovieDirector] [nvarchar](50) NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[DateSent] [datetime] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentMethod] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Show]    Script Date: 3/31/2025 2:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Show](
	[ShowID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[HallID] [int] NOT NULL,
	[ShowTime] [datetime] NOT NULL,
	[TicketPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Show] PRIMARY KEY CLUSTERED 
(
	[ShowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType]) VALUES (2, N'phanvang2003@gmail.com', N'222222', N'CUSTOMER')
INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType]) VALUES (3, N'nguyenminhvu1@gmail.com', N'666666', N'CUSTOMER')
INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType]) VALUES (4, N'tranhoang2@gmail.com', N'999999', N'ADMIN')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Cinema] ON 

INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [CityID], [CityAddress]) VALUES (9, N'MTB_Galaxy Infinity Cinama', 1, N'123 Nguyễn Huệ, Phường Bến Nghé, Quận 1, TP.HCM')
INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [CityID], [CityAddress]) VALUES (10, N'MTB_Lumière Cineplex Cinama', 1, N'456 Nguyễn Văn Linh, Quận 7, TP.HCM')
INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [CityID], [CityAddress]) VALUES (11, N'MTB_Platinum Movie Plaza Cinama', 1, N'99 Trần Hưng Đạo, Quận 5, TP.HCM')
SET IDENTITY_INSERT [dbo].[Cinema] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHall] ON 

INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalSeats]) VALUES (1, 9, N'Phòng 01', 100)
INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalSeats]) VALUES (2, 9, N'Phòng 02', 102)
INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalSeats]) VALUES (3, 9, N'Phòng 03', 101)
SET IDENTITY_INSERT [dbo].[CinemaHall] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHallSeat] ON 

INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber]) VALUES (2, 1, N'A01')
INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber]) VALUES (3, 1, N'A02')
INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber]) VALUES (4, 1, N'A03')
GO
SET IDENTITY_INSERT [dbo].[CinemaHallSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [CityName]) VALUES (1, N'Thành phố Hồ Chí Minh')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (2, N'Thành phố Hà Nội')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (3, N'Thành Phố Cần Thơ')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerPhone], [AccountID], [CustomerGender], [CustomerDate], [CustomerAddress], [AvatarUrl]) VALUES (1002, N' Phàn Pà Vảng', N'phanvang2003@gmail.com', N'0248821471', 2, N'Male', CAST(N'2003-09-07' AS Date), N'Hà Nội', N'file:///data/user/0/host.exp.exponent/cache/ExperienceData/%2540anonymous%252FBOOK_MOVIE-TICKETS-MTV-6ecd8842-2b22-47af-b64b-5c5c04c6054c/ImagePicker/edbef9fc-50d5-4ae1-bafe-6836d0f32838.png')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerPhone], [AccountID], [CustomerGender], [CustomerDate], [CustomerAddress], [AvatarUrl]) VALUES (1003, N'Nguyễn Bá Minh Vũ', N'nguyenminhvu1@gmail.com', N'0239578274', 3, N'Male', CAST(N'2002-12-03' AS Date), N'Cần Thơ', N'./assets/AvatarUrl/bv3.png')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerPhone], [AccountID], [CustomerGender], [CustomerDate], [CustomerAddress], [AvatarUrl]) VALUES (1004, N'Trần Văn Hoàng', N'tranhoang2@gmail.com', N'0235783228', 4, N'Male', CAST(N'2000-01-03' AS Date), N'Hà Nội', N'./assets/AvatarUrl/bv4.png')
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__406E0D2E262D8C9E]    Script Date: 3/31/2025 2:43:47 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__3A0CE74C642264AB]    Script Date: 3/31/2025 2:43:47 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ__Customer__3A0CE74C642264AB] UNIQUE NONCLUSTERED 
(
	[CustomerEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [DateSent]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Show] FOREIGN KEY([ShowID])
REFERENCES [dbo].[Show] ([ShowID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Show]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeat_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK_BookingSeat_Booking]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeat_CinemaHallSeat] FOREIGN KEY([SeatID])
REFERENCES [dbo].[CinemaHallSeat] ([SeatID])
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK_BookingSeat_CinemaHallSeat]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeat_Show] FOREIGN KEY([ShowID])
REFERENCES [dbo].[Show] ([ShowID])
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK_BookingSeat_Show]
GO
ALTER TABLE [dbo].[Cinema]  WITH CHECK ADD  CONSTRAINT [FK_Cinema_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Cinema] CHECK CONSTRAINT [FK_Cinema_City]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [FK_CinemaHall_Cinema] FOREIGN KEY([CinemaID])
REFERENCES [dbo].[Cinema] ([CinemaID])
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [FK_CinemaHall_Cinema]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD  CONSTRAINT [FK_Show_Movie] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
GO
ALTER TABLE [dbo].[Show] CHECK CONSTRAINT [FK_Show_Movie]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([AccountType]='Customer' OR [AccountType]='Admin'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([TotalSeats]>(0)))
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD CHECK  (([Status]='Available' OR [Status]='Booked'))
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [CK__CinemaHal__Total__5EBF139D] CHECK  (([TotalSeats]>(0)))
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [CK__CinemaHal__Total__5EBF139D]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CK__Customer__Custom__4E88ABD4] CHECK  (([CustomerGender]='Other' OR [CustomerGender]='Female' OR [CustomerGender]='Male'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CK__Customer__Custom__4E88ABD4]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD CHECK  (([MovieRuntime]>(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([PaymentMethod]='Online' OR [PaymentMethod]='Card' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD CHECK  (([TicketPrice]>=(0)))
GO
USE [master]
GO
