USE [MTB 67CS1]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](255) NOT NULL,
	[AccountPassword] [varchar](255) NOT NULL,
	[AccountType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ShowID] [int] NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingSeat]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingSeat](
	[BookingSeatID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ShowID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_BookingSeat] PRIMARY KEY CLUSTERED 
(
	[BookingSeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[CinemaID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](255) NOT NULL,
	[CityID] [int] NOT NULL,
	[CityAddress] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Cinema] PRIMARY KEY CLUSTERED 
(
	[CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHall]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHall](
	[HallID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaID] [int] NOT NULL,
	[HallName] [varchar](255) NOT NULL,
	[TotalSeats] [int] NOT NULL,
 CONSTRAINT [PK_CinemaHall] PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHallSeat]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHallSeat](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NOT NULL,
	[SeatNumber] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CinemaHallSeat] PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [nvarchar](255) NULL,
	[CustomerEmail] [varchar](255) NULL,
	[CustomerPhone] [varchar](20) NULL,
	[AccountID] [int] NULL,
	[CustomerGender] [nvarchar](50) NULL,
	[CustomerDate] [date] NULL,
	[CustomerAddress] [nvarchar](255) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieTitle] [nvarchar](255) NOT NULL,
	[MovieDescription] [nvarchar](max) NULL,
	[MovieLanguage] [nvarchar](50) NOT NULL,
	[MovieGenre] [nvarchar](100) NULL,
	[MovieReleaseDate] [date] NOT NULL,
	[MovieRuntime] [int] NOT NULL,
	[ImageUrl] [varchar](255) NULL,
	[MovieTrailer] [varchar](255) NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[DateSent] [datetime] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentMethod] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Show]    Script Date: 25/03/2025 1:42:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Show](
	[ShowID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[HallID] [int] NOT NULL,
	[ShowTime] [datetime] NOT NULL,
	[TicketPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Show] PRIMARY KEY CLUSTERED 
(
	[ShowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType]) VALUES (1, N'phamhoang2004@gmail.com', N'123123', N'CUSTOMER')
INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType]) VALUES (2, N'phanvang2003@gmail.com', N'222222', N'CUSTOMER')
INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType]) VALUES (3, N'nguyenminhvu1@gmail.com', N'666666', N'CUSTOMER')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerPhone], [AccountID], [CustomerGender], [CustomerDate], [CustomerAddress]) VALUES (1001, N'Phạm Văn Hoàng', N'phamhoang2004@gmail.com', N'0984554829', 1, N'Male', CAST(N'2004-08-05' AS Date), N'Hà Nội')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerPhone], [AccountID], [CustomerGender], [CustomerDate], [CustomerAddress]) VALUES (1002, N' Phàn Pà Vảng', N'phanvang2003@gmail.com', N'0248821471', 2, N'Male', CAST(N'2003-09-07' AS Date), N'Hà Nội')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerPhone], [AccountID], [CustomerGender], [CustomerDate], [CustomerAddress]) VALUES (1003, N'Nguyễn Bá Minh Vũ', N'nguyenminhvu1@gmail.com', N'0239578274', 3, N'Male', CAST(N'2002-12-03' AS Date), N'Cần Thơ')
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieID], [MovieTitle], [MovieDescription], [MovieLanguage], [MovieGenre], [MovieReleaseDate], [MovieRuntime], [ImageUrl], [MovieTrailer]) VALUES (2, N'Nhà Gia Tiên', N'"Nhà Gia Tiên" là phim kinh dị - hài Việt Nam ra mắt năm 2025. Mỹ Tiên trở về nhà tổ để quay video và gặp hồn ma anh trai đã mất 10 năm trước. Cả hai cùng hợp sức bảo vệ ngôi nhà trước tranh chấp gia tộc.', N'Tiếng Việt', N'Kinh dị', CAST(N'2025-01-18' AS Date), 116, N'./assets/ImageUrl/Nhagiatien.png', N'https://www.youtube.com/embed/IwS0d1KPgy8')
INSERT [dbo].[Movie] ([MovieID], [MovieTitle], [MovieDescription], [MovieLanguage], [MovieGenre], [MovieReleaseDate], [MovieRuntime], [ImageUrl], [MovieTrailer]) VALUES (3, N'Nữ Tu Bóng Tối', N'"Nữ Tu Bóng Tối" là phim kinh dị kể về ma sơ Valak, linh hồn ác quỷ gieo rắc nỗi kinh hoàng. Một nữ tu trẻ và cha xứ điều tra những hiện tượng kỳ bí tại tu viện cổ. Bí ẩn đen tối dần được hé lộ, đẩy họ vào cuộc chiến sinh tồn.', N'Hàn Quốc', N'Kinh dị', CAST(N'2025-02-21' AS Date), 114, N'./assets/ImageUrl/Nutubongtoi.png', N'https://www.youtube.com/embed/CyzdRp5CXes')
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__406E0D2ECF4771B0]    Script Date: 25/03/2025 1:42:28 SA ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__3A0CE74C642264AB]    Script Date: 25/03/2025 1:42:28 SA ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ__Customer__3A0CE74C642264AB] UNIQUE NONCLUSTERED 
(
	[CustomerEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [DateSent]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Show] FOREIGN KEY([ShowID])
REFERENCES [dbo].[Show] ([ShowID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Show]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeat_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK_BookingSeat_Booking]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeat_CinemaHallSeat] FOREIGN KEY([SeatID])
REFERENCES [dbo].[CinemaHallSeat] ([SeatID])
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK_BookingSeat_CinemaHallSeat]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeat_Show] FOREIGN KEY([ShowID])
REFERENCES [dbo].[Show] ([ShowID])
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK_BookingSeat_Show]
GO
ALTER TABLE [dbo].[Cinema]  WITH CHECK ADD  CONSTRAINT [FK_Cinema_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Cinema] CHECK CONSTRAINT [FK_Cinema_City]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [FK_CinemaHall_Cinema] FOREIGN KEY([CinemaID])
REFERENCES [dbo].[Cinema] ([CinemaID])
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [FK_CinemaHall_Cinema]
GO
ALTER TABLE [dbo].[CinemaHallSeat]  WITH CHECK ADD  CONSTRAINT [FK_CinemaHallSeat_CinemaHall] FOREIGN KEY([HallID])
REFERENCES [dbo].[CinemaHall] ([HallID])
GO
ALTER TABLE [dbo].[CinemaHallSeat] CHECK CONSTRAINT [FK_CinemaHallSeat_CinemaHall]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD  CONSTRAINT [FK_Show_CinemaHall] FOREIGN KEY([HallID])
REFERENCES [dbo].[CinemaHall] ([HallID])
GO
ALTER TABLE [dbo].[Show] CHECK CONSTRAINT [FK_Show_CinemaHall]
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD  CONSTRAINT [FK_Show_Movie] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
GO
ALTER TABLE [dbo].[Show] CHECK CONSTRAINT [FK_Show_Movie]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([AccountType]='Customer' OR [AccountType]='Admin'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([TotalSeats]>(0)))
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD CHECK  (([Status]='Available' OR [Status]='Booked'))
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD CHECK  (([TotalSeats]>(0)))
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CK__Customer__Custom__4E88ABD4] CHECK  (([CustomerGender]='Other' OR [CustomerGender]='Female' OR [CustomerGender]='Male'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CK__Customer__Custom__4E88ABD4]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD CHECK  (([MovieRuntime]>(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([PaymentMethod]='Online' OR [PaymentMethod]='Card' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD CHECK  (([TicketPrice]>=(0)))
GO
