USE [master]
GO
CREATE DATABASE [MTB 67CS1];
GO
USE [MTB 67CS1];
GO

-- Tạo bảng Account
CREATE TABLE [dbo].[Account](
    [AccountID] [int] IDENTITY(1,1) NOT NULL, -- Tự động tăng
    [AccountName] [varchar](255) NOT NULL UNIQUE, -- Email hoặc tên tài khoản
    [AccountPassword] [varchar](255) NOT NULL,
    [AccountType] [varchar](50) NOT NULL CHECK ([AccountType] IN ('Admin', 'Customer')),
    CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED ([AccountID])
);
GO

-- Tạo bảng Customer
CREATE TABLE [dbo].[Customer](
    [CustomerID] [int] IDENTITY(1,1) NOT NULL,
    [CustomerName] [nvarchar](255) NOT NULL,
    [CustomerEmail] [varchar](255) NOT NULL UNIQUE,
    [CustomerPhone] [varchar](20) NOT NULL,
    [AccountID] [int] NOT NULL,
    [CustomerGender] [varchar](10) NULL CHECK ([CustomerGender] IN ('Male', 'Female', 'Other')),
    [CustomerDate] [date] NULL, -- Ngày sinh
    [CustomerAddress] [nvarchar](255) NULL,
    CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED ([CustomerID]),
    CONSTRAINT [FK_Customer_Account] FOREIGN KEY ([AccountID]) REFERENCES [dbo].[Account] ([AccountID])
);
GO

-- Tạo bảng City
CREATE TABLE [dbo].[City](
    [CityID] [int] IDENTITY(1,1) NOT NULL,
    [CityName] [nvarchar](255) NOT NULL,
    CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED ([CityID])
);
GO

-- Tạo bảng Cinema
CREATE TABLE [dbo].[Cinema](
    [CinemaID] [int] IDENTITY(1,1) NOT NULL,
    [CinemaName] [nvarchar](255) NOT NULL,
    [CityID] [int] NOT NULL,
    [CityAddress] [nvarchar](255) NOT NULL,
    CONSTRAINT [PK_Cinema] PRIMARY KEY CLUSTERED ([CinemaID]),
    CONSTRAINT [FK_Cinema_City] FOREIGN KEY ([CityID]) REFERENCES [dbo].[City] ([CityID])
);
GO

-- Tạo bảng CinemaHall
CREATE TABLE [dbo].[CinemaHall](
    [HallID] [int] IDENTITY(1,1) NOT NULL,
    [CinemaID] [int] NOT NULL,
    [HallName] [varchar](255) NOT NULL,
    [TotalSeats] [int] NOT NULL CHECK ([TotalSeats] > 0),
    CONSTRAINT [PK_CinemaHall] PRIMARY KEY CLUSTERED ([HallID]),
    CONSTRAINT [FK_CinemaHall_Cinema] FOREIGN KEY ([CinemaID]) REFERENCES [dbo].[Cinema] ([CinemaID])
);
GO

-- Tạo bảng CinemaHallSeat
CREATE TABLE [dbo].[CinemaHallSeat](
    [SeatID] [int] IDENTITY(1,1) NOT NULL,
    [HallID] [int] NOT NULL,
    [SeatNumber] [varchar](10) NOT NULL,
    CONSTRAINT [PK_CinemaHallSeat] PRIMARY KEY CLUSTERED ([SeatID]),
    CONSTRAINT [FK_CinemaHallSeat_CinemaHall] FOREIGN KEY ([HallID]) REFERENCES [dbo].[CinemaHall] ([HallID])
);
GO

-- Tạo bảng Movie
CREATE TABLE [dbo].[Movie](
    [MovieID] [int] IDENTITY(1,1) NOT NULL,
    [MovieTitle] [nvarchar](255) NOT NULL,
    [MovieDescription] [nvarchar](max) NULL,
    [MovieLanguage] [nvarchar](50) NOT NULL,
    [MovieGenre] [nvarchar](100) NULL,
    [MovieReleaseDate] [date] NOT NULL,
    [MovieRuntime] [int] NOT NULL CHECK ([MovieRuntime] > 0), -- Thời lượng (phút)
    [ImageUrl] [varchar](255) NULL,
    CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED ([MovieID])
);
GO

-- Tạo bảng Show
CREATE TABLE [dbo].[Show](
    [ShowID] [int] IDENTITY(1,1) NOT NULL,
    [MovieID] [int] NOT NULL,
    [HallID] [int] NOT NULL,
    [ShowTime] [datetime] NOT NULL,
    [TicketPrice] [decimal](10, 2) NOT NULL CHECK ([TicketPrice] >= 0),
    CONSTRAINT [PK_Show] PRIMARY KEY CLUSTERED ([ShowID]),
    CONSTRAINT [FK_Show_Movie] FOREIGN KEY ([MovieID]) REFERENCES [dbo].[Movie] ([MovieID]),
    CONSTRAINT [FK_Show_CinemaHall] FOREIGN KEY ([HallID]) REFERENCES [dbo].[CinemaHall] ([HallID])
);
GO

-- Tạo bảng Booking
CREATE TABLE [dbo].[Booking](
    [BookingID] [int] IDENTITY(1,1) NOT NULL,
    [CustomerID] [int] NOT NULL,
    [ShowID] [int] NOT NULL,
    [TotalSeats] [int] NOT NULL CHECK ([TotalSeats] > 0),
    [Status] [varchar](20) NOT NULL CHECK ([Status] IN ('Pending', 'Confirmed', 'Cancelled')),
    CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED ([BookingID]),
    CONSTRAINT [FK_Booking_Customer] FOREIGN KEY ([CustomerID]) REFERENCES [dbo].[Customer] ([CustomerID]),
    CONSTRAINT [FK_Booking_Show] FOREIGN KEY ([ShowID]) REFERENCES [dbo].[Show] ([ShowID])
);
GO

-- Tạo bảng BookingSeat
CREATE TABLE [dbo].[BookingSeat](
    [BookingSeatID] [int] IDENTITY(1,1) NOT NULL,
    [BookingID] [int] NOT NULL,
    [ShowID] [int] NOT NULL,
    [SeatID] [int] NOT NULL,
    [Status] [varchar](20) NOT NULL CHECK ([Status] IN ('Booked', 'Available')),
    CONSTRAINT [PK_BookingSeat] PRIMARY KEY CLUSTERED ([BookingSeatID]),
    CONSTRAINT [FK_BookingSeat_Booking] FOREIGN KEY ([BookingID]) REFERENCES [dbo].[Booking] ([BookingID]),
    CONSTRAINT [FK_BookingSeat_Show] FOREIGN KEY ([ShowID]) REFERENCES [dbo].[Show] ([ShowID]),
    CONSTRAINT [FK_BookingSeat_CinemaHallSeat] FOREIGN KEY ([SeatID]) REFERENCES [dbo].[CinemaHallSeat] ([SeatID])
);
GO

-- Tạo bảng Payment
CREATE TABLE [dbo].[Payment](
    [PaymentID] [int] IDENTITY(1,1) NOT NULL,
    [BookingID] [int] NOT NULL,
    [Amount] [decimal](10, 2) NOT NULL CHECK ([Amount] >= 0),
    [PaymentDate] [datetime] NOT NULL DEFAULT GETDATE(),
    [PaymentMethod] [varchar](50) NOT NULL CHECK ([PaymentMethod] IN ('Cash', 'Card', 'Online')),
    CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED ([PaymentID]),
    CONSTRAINT [FK_Payment_Booking] FOREIGN KEY ([BookingID]) REFERENCES [dbo].[Booking] ([BookingID])
);
GO

-- Tạo bảng Notification
CREATE TABLE [dbo].[Notification](
    [NotificationID] [int] IDENTITY(1,1) NOT NULL,
    [CustomerID] [int] NOT NULL,
    [Message] [nvarchar](max) NOT NULL,
    [DateSent] [datetime] NOT NULL DEFAULT GETDATE(),
    CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED ([NotificationID]),
    CONSTRAINT [FK_Notification_Customer] FOREIGN KEY ([CustomerID]) REFERENCES [dbo].[Customer] ([CustomerID])
);
GO

-- Chèn dữ liệu mẫu
INSERT INTO [dbo].[Account] ([AccountName], [AccountPassword], [AccountType]) VALUES 
    ('hoangzai2k401@gmail.com', '123456789', 'Admin'),
    ('phamhoang2004@gmail.com', '123456789', 'Customer'),
    ('phanphavang@gmail.com', '123456789', 'Customer');
GO

INSERT INTO [dbo].[Customer] ([CustomerName], [CustomerEmail], [CustomerPhone], [AccountID], [CustomerGender], [CustomerDate], [CustomerAddress]) VALUES 
    (N'Phạm Văn Hoàng', 'phamhoang2004@gmail.com', '03990923', 2, 'Male', '2004-01-01', N'Hà Nội'),
    (N'Phàn Pà Văng', 'phanphavang@gmail.com', '092343425', 3, 'Female', '1995-05-10', N'TP. Hồ Chí Minh');
GO

INSERT INTO [dbo].[City] ([CityName]) VALUES 
    (N'Hà Nội'),
    (N'TP. Hồ Chí Minh'),
    (N'Đà Nẵng');
GO

INSERT INTO [dbo].[Cinema] ([CinemaName], [CityID], [CityAddress]) VALUES 
    (N'Rạp MTB Hà Nội', 1, N'123 Đường Láng'),
    (N'Rạp MTB Sài Gòn', 2, N'456 Nguyễn Trãi');
GO

INSERT INTO [dbo].[CinemaHall] ([CinemaID], [HallName], [TotalSeats]) VALUES 
    (1, 'Hall 1', 100),
    (2, 'Hall 2', 120);
GO

INSERT INTO [dbo].[CinemaHallSeat] ([HallID], [SeatNumber]) VALUES 
    (1, 'A1'), (1, 'A2'), (2, 'B1'), (2, 'B2');
GO

INSERT INTO [dbo].[Movie] ([MovieTitle], [MovieDescription], [MovieLanguage], [MovieGenre], [MovieReleaseDate], [MovieRuntime], [ImageUrl]) VALUES 
    (N'Transformers Một', N'Bộ phim hành động về robot biến hình...', N'Tiếng Việt', N'Hành động', '2025-02-29', 120, 'transformers.jpg'),
    (N'Nhà Gia Tiên', N'Câu chuyện về gia đình và tâm linh...', N'Tiếng Việt', N'Hài, Gia đình', '2025-04-01', 117, 'nhagiatien.png');
GO

INSERT INTO [dbo].[Show] ([MovieID], [HallID], [ShowTime], [TicketPrice]) VALUES 
    (1, 1, '2025-03-25 19:00:00', 100000),
    (2, 2, '2025-04-02 20:00:00', 120000);
GO