USE [MTB 67CS1]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](255) NOT NULL,
	[AccountPassword] [varchar](255) NOT NULL,
	[AccountType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ShowID] [int] NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingProduct]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingProduct](
	[BookingProductID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPriceBookingProduct] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingSeat]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingSeat](
	[BookingSeatID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ShowID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[TicketPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_BookingSeat] PRIMARY KEY CLUSTERED 
(
	[BookingSeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[CinemaID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](255) NOT NULL,
	[CityID] [int] NOT NULL,
	[CityAddress] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Cinema] PRIMARY KEY CLUSTERED 
(
	[CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHall]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHall](
	[HallID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaID] [int] NOT NULL,
	[HallName] [nvarchar](255) NOT NULL,
	[TotalSeats] [int] NOT NULL,
 CONSTRAINT [PK_CinemaHall] PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHallSeat]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHallSeat](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NOT NULL,
	[SeatNumber] [varchar](10) NOT NULL,
	[SeatType] [nvarchar](20) NOT NULL,
	[SeatPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_CinemaHallSeat] PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [nvarchar](255) NULL,
	[CustomerEmail] [varchar](255) NULL,
	[CustomerPhone] [varchar](20) NULL,
	[AccountID] [int] NULL,
	[CustomerGender] [nvarchar](50) NULL,
	[CustomerDate] [date] NULL,
	[CustomerAddress] [nvarchar](255) NULL,
	[AvatarUrl] [varchar](255) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieTitle] [nvarchar](255) NOT NULL,
	[MovieDescription] [nvarchar](max) NULL,
	[MovieLanguage] [nvarchar](50) NOT NULL,
	[MovieGenre] [nvarchar](100) NULL,
	[MovieReleaseDate] [date] NOT NULL,
	[MovieRuntime] [int] NOT NULL,
	[ImageUrl] [varchar](255) NULL,
	[MovieTrailer] [varchar](255) NULL,
	[MovieActor] [nvarchar](255) NULL,
	[MovieDirector] [nvarchar](50) NULL,
	[MovieAge] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[DateSent] [datetime] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentMethod] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ProductDescription] [nvarchar](255) NULL,
	[ProductPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Show]    Script Date: 31/03/2025 9:54:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Show](
	[ShowID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[HallID] [int] NOT NULL,
	[ShowTime] [datetime] NOT NULL,
	[ShowDate] [date] NOT NULL,
 CONSTRAINT [PK_Show] PRIMARY KEY CLUSTERED 
(
	[ShowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType]) VALUES (1, N'phamhoang2004@gmail.com', N'123123', N'CUSTOMER')
INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType]) VALUES (2, N'phanvang2003@gmail.com', N'222222', N'CUSTOMER')
INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType]) VALUES (3, N'nguyenminhvu1@gmail.com', N'666666', N'CUSTOMER')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Cinema] ON 

INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [CityID], [CityAddress]) VALUES (9, N'MTB_Galaxy Infinity Cinama', 1, N'123 Nguyễn Huệ, Phường Bến Nghé, Quận 1, TP.HCM')
INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [CityID], [CityAddress]) VALUES (10, N'MTB_Lumière Cineplex Cinama', 1, N'456 Nguyễn Văn Linh, Quận 7, TP.HCM')
INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [CityID], [CityAddress]) VALUES (11, N'MTB_Platinum Movie Plaza Cinama', 1, N'99 Trần Hưng Đạo, Quận 5, TP.HCM')
SET IDENTITY_INSERT [dbo].[Cinema] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHall] ON 

INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalSeats]) VALUES (1, 9, N'Phòng 01', 100)
INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalSeats]) VALUES (2, 9, N'Phòng 02', 102)
INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalSeats]) VALUES (3, 9, N'Phòng 03', 101)
SET IDENTITY_INSERT [dbo].[CinemaHall] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHallSeat] ON 

INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice]) VALUES (2, 1, N'A01', N'Thường', CAST(60000.00 AS Decimal(10, 2)))
INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice]) VALUES (3, 1, N'A02', N'Thường', CAST(60000.00 AS Decimal(10, 2)))
INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice]) VALUES (4, 1, N'A03', N'Thường', CAST(60000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[CinemaHallSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [CityName]) VALUES (1, N'Thành phố Hồ Chí Minh')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (2, N'Thành phố Hà Nội')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (3, N'Thành Phố Cần Thơ')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerPhone], [AccountID], [CustomerGender], [CustomerDate], [CustomerAddress], [AvatarUrl]) VALUES (1001, N'Phạm Văn Hoàng', N'phamhoang2004@gmail.com', N'0984554829', 1, N'Male', CAST(N'2004-08-05' AS Date), N'Hà Nội', N'./assets/AvatarUrl/bv1.png')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerPhone], [AccountID], [CustomerGender], [CustomerDate], [CustomerAddress], [AvatarUrl]) VALUES (1002, N' Phàn Pà Vảng', N'phanvang2003@gmail.com', N'0248821471', 2, N'Male', CAST(N'2003-09-07' AS Date), N'Hà Nội', N'./assets/AvatarUrl/bv2.png')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerPhone], [AccountID], [CustomerGender], [CustomerDate], [CustomerAddress], [AvatarUrl]) VALUES (1003, N'Nguyễn Bá Minh Vũ', N'nguyenminhvu1@gmail.com', N'0239578274', 3, N'Male', CAST(N'2002-12-03' AS Date), N'Cần Thơ', N'./assets/AvatarUrl/bv3.png')
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationID], [CustomerID], [Message], [DateSent]) VALUES (1, 1001, N'Voucher ưu đãi giảm 5k', CAST(N'2024-11-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Notification] ([NotificationID], [CustomerID], [Message], [DateSent]) VALUES (2, 1002, N'Bạn đã đặt vé thành công vào ngày 20/2/2024', CAST(N'2024-01-14T00:00:00.000' AS DateTime))
INSERT [dbo].[Notification] ([NotificationID], [CustomerID], [Message], [DateSent]) VALUES (3, 1003, N'Voucher giảm giá 20% khi đặt combo vé từ 200k', CAST(N'2025-01-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice]) VALUES (2, N'Bỏng Ngô', N'Size M', CAST(60000.00 AS Decimal(10, 2)))
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice]) VALUES (3, N'Bỏng Ngô', N'Size L', CAST(100000.00 AS Decimal(10, 2)))
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice]) VALUES (4, N'Combo1', N'Gồm 1 nước size M + 1 bỏng ngô size M', CAST(80000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__406E0D2E54BC21D5]    Script Date: 31/03/2025 9:54:42 CH ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__3A0CE74C642264AB]    Script Date: 31/03/2025 9:54:42 CH ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ__Customer__3A0CE74C642264AB] UNIQUE NONCLUSTERED 
(
	[CustomerEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookingProduct] ADD  DEFAULT ((0)) FOR [TotalPriceBookingProduct]
GO
ALTER TABLE [dbo].[BookingSeat] ADD  DEFAULT ((0)) FOR [TicketPrice]
GO
ALTER TABLE [dbo].[CinemaHallSeat] ADD  DEFAULT ((0)) FOR [SeatPrice]
GO
ALTER TABLE [dbo].[Movie] ADD  DEFAULT (N'Không giới hạn') FOR [MovieAge]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [DateSent]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Show] ADD  DEFAULT (getdate()) FOR [ShowDate]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Show] FOREIGN KEY([ShowID])
REFERENCES [dbo].[Show] ([ShowID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Show]
GO
ALTER TABLE [dbo].[BookingProduct]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingProduct]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeat_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK_BookingSeat_Booking]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeat_CinemaHallSeat] FOREIGN KEY([SeatID])
REFERENCES [dbo].[CinemaHallSeat] ([SeatID])
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK_BookingSeat_CinemaHallSeat]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeat_Show] FOREIGN KEY([ShowID])
REFERENCES [dbo].[Show] ([ShowID])
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK_BookingSeat_Show]
GO
ALTER TABLE [dbo].[Cinema]  WITH CHECK ADD  CONSTRAINT [FK_Cinema_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Cinema] CHECK CONSTRAINT [FK_Cinema_City]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [FK_CinemaHall_Cinema] FOREIGN KEY([CinemaID])
REFERENCES [dbo].[Cinema] ([CinemaID])
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [FK_CinemaHall_Cinema]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD  CONSTRAINT [FK_Show_Movie] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
GO
ALTER TABLE [dbo].[Show] CHECK CONSTRAINT [FK_Show_Movie]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([AccountType]='Customer' OR [AccountType]='Admin'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([TotalSeats]>(0)))
GO
ALTER TABLE [dbo].[BookingProduct]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD CHECK  (([Status]='Available' OR [Status]='Booked'))
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [CK__CinemaHal__Total__5EBF139D] CHECK  (([TotalSeats]>(0)))
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [CK__CinemaHal__Total__5EBF139D]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CK__Customer__Custom__4E88ABD4] CHECK  (([CustomerGender]='Other' OR [CustomerGender]='Female' OR [CustomerGender]='Male'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CK__Customer__Custom__4E88ABD4]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD CHECK  (([MovieRuntime]>(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([PaymentMethod]='Online' OR [PaymentMethod]='Card' OR [PaymentMethod]='Cash'))
GO
